
@{
    ViewData["Title"] = "Trùng thông tin";
}

<h4 style="">Khách hàng tên: @ViewBag.name với SĐT: @ViewBag.phone đã tồn tại trong hệ thống.</h4>
<a id="new" style="display:inline-block; text-decoration:none; display:inline-block" asp-action="Create"> Tạo khách khác </a> <a id="home" style="display:inline-block; text-decoration:none;" asp-action="Return"> Trở về trang chính </a></p>

