
@{
    ViewData["Title"] = "Processing";
}
<body id="body">

    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">Hệ thống đang xử lý</div>
    </div>
    <script>
        window.setTimeout(function () {
            window.location.href = 'https://partner.annhome.vn/Bank/final_res';
        }, 5400);
    </script>
</body>
